In [1]:
# data.go.kr

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 한글 encoding

# utf8
# euckr
# cp949

In [9]:
df = pd.read_csv('./data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211031 (1).csv', encoding = 'euckr')
df.head()

  지역명                     규모구분    연도   월 분양가격(제곱미터)
0  서울                     모든면적  2015  10       5841
1  서울            전용면적 60제곱미터이하  2015  10       5652
2  서울   전용면적 60제곱미터초과 85제곱미터이하  2015  10       5882
3  서울  전용면적 85제곱미터초과 102제곱미터이하  2015  10       5721
4  서울           전용면적 102제곱미터초과  2015  10       5879

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6205 entries, 0 to 6204
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역명         6205 non-null   object
 1   규모구분        6205 non-null   object
 2   연도          6205 non-null   int64
 3   월           6205 non-null   int64
 4   분양가격(제곱미터)  5734 non-null   object
dtypes: int64(2), object(3)
memory usage: 242.5+ KB

In [11]:
df.isna().sum()

지역명             0
규모구분            0
연도              0
월               0
분양가격(제곱미터)    471
dtype: int64

In [12]:
df.loc[df['분양가격(제곱미터)'].isna()]

     지역명                     규모구분    연도  월 분양가격(제곱미터)
368   광주  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
369   광주           전용면적 102제곱미터초과  2016  2        NaN
374   대전           전용면적 102제곱미터초과  2016  2        NaN
388   강원  전용면적 85제곱미터초과 102제곱미터이하  2016  2        NaN
421   제주            전용면적 60제곱미터이하  2016  2        NaN
...   ..                      ...   ... ..        ...
5984  대전           전용면적 102제곱미터초과  2021  8        NaN
5989  울산           전용면적 102제곱미터초과  2021  8        NaN
6018  전남  전용면적 85제곱미터초과 102제곱미터이하  2021  8        NaN
6031  제주            전용면적 60제곱미터이하  2021  8        NaN
6033  제주  전용면적 85제곱미터초과 102제곱미터이하  2021  8        NaN

[471 rows x 5 columns]

In [15]:

df['분양가격(제곱미터)'].apply(lambda x : str(x).strip().replace(',', ''))

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
6200    6860
6201       -
6202    6787
6203    5924
6204    6815
Name: 분양가격(제곱미터), Length: 6205, dtype: object

In [18]:
indexes = []
errors = []
for i,j in enumerate(df['분양가격(제곱미터)']):
    try:
        float(j)
        indexes.append(i)
    except:
        errors.append(j)

In [19]:
errors

['  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 '  ',
 ' 9,501 ',
 ' 9,724 ',
 ' 9,518 ',
 ' 7,044 ',
 ' - ',
 ' 4,315 ',
 ' 4,387 ',
 ' 4,283 ',
 ' 4,824 ',
 ' 5,312 ',
 ' 4,227 ',
 ' 4,125 ',
 ' 4,205 ',
 ' 4,283 ',
 ' 5,194 ',
 ' 4,358 ',
 ' 4,202 ',
 ' 4,327 ',
 ' 3,971 ',
 ' 4,518 ',
 ' 4,750 ',
 ' 4,644 ',
 ' 4,771 ',
 ' 4,257 ',
 ' 5,010 ',
 ' 4,338 ',
 ' 2,957 ',
 ' 4,027 ',
 ' - ',
 ' 4,668 ',
 ' 3,717 ',
 ' 3,862 ',
 ' 3,715 ',
 ' - ',
 ' - ',
 ' 4,303 ',
 ' 4,862 ',
 ' 4,290 ',
 ' 3,515 ',
 ' - ',
 ' 3,804 ',
 ' 4,041 ',
 ' 3,883 ',
 ' 3,858 ',
 ' 3,593 ',
 ' 2,857 ',
 ' 2,867 ',
 ' 2,846 ',
 ' 2,811 ',
 ' 3,309 ',
 ' 2,646 ',
 ' 2,596 ',
 ' 2,672 ',
 ' 2,688 ',
 ' 2,750 ',
 ' 2,892 ',
 ' 2,860 ',
 ' 2,885 ',
 ' 3,085 ',
 ' 3,429 ',
 ' 2,641 ',
 ' 2,529 ',
 ' 2,625 ',
 ' 3,240 ',
 ' 3,378 ',
 ' 3,178 ',
 ' 2,680 ',
 ' 3,178 ',
 ' - ',
 ' 3,278 ',
 ' 3,135 ',
 ' 2,861 ',
 ' 3,119 ',
 ' 3,955 ',
 ' 3,943 ',
 ' 3,295 ',
 ' 3,172 ',
 ' 3,277 ',
 ' 4,051 ',
 ' 3,558 ',
 ' 8,356 ',
 ' - ',
 ' 8,410 ',
 ' - ',
 ' 7,727 ',
 ' 9,662 ',
 ' 10,181 ',
 ' 10,252 ',
 ' 7,044 ',
 ' - ',
 ' 4,316 ',
 ' 4,399 ',
 ' 4,280 ',
 ' 4,824 ',
 ' 5,317 ',
 ' 4,202 ',
 ' 4,152 ',
 ' 4,253 ',
 ' 4,028 ',
 ' 4,893 ',
 ' 4,420 ',
 ' 4,506 ',
 ' 4,415 ',
 ' 3,971 ',
 ' 4,379 ',
 ' 4,722 ',
 ' 4,509 ',
 ' 4,745 ',
 ' 4,257 ',
 ' 5,023 ',
 ' 4,271 ',
 ' 3,259 ',
 ' 3,997 ',
 ' - ',
 ' 4,668 ',
 ' 3,743 ',
 ' 3,890 ',
 ' 3,742 ',
 ' - ',
 ' - ',
 ' 4,303 ',
 ' 4,862 ',
 ' 4,290 ',
 ' 3,515 ',
 ' - ',
 ' 3,869 ',
 ' 4,041 ',
 ' 3,883 ',
 ' 3,858 ',
 ' 3,741 ',
 ' 2,971 ',
 ' 2,980 ',
 ' 2,874 ',
 ' 3,474 ',
 ' 3,511 ',
 ' 2,646 ',
 ' 2,596 ',
 ' 2,672 ',
 ' 2,688 ',
 ' 2,750 ',
 ' 2,918 ',
 ' 2,906 ',
 ' 2,907 ',
 ' 3,388 ',
 ' 3,429 ',
 ' 2,685 ',
 ' 2,674 ',
 ' 2,665 ',
 ' 3,240 ',
 ' 3,656 ',
 ' 2,996 ',
 ' 2,890 ',
 ' 2,979 ',
 ' - ',
 ' 3,277 ',
 ' 3,131 ',
 ' 2,929 ',
 ' 3,119 ',
 ' 3,845 ',
 ' 3,937 ',
 ' 3,324 ',
 ' 3,188 ',
 ' 3,307 ',
 ' 3,987 ',
 ' 3,599 ',
 ' 6,860 ',
 ' - ',
 ' 6,787 ',
 ' 5,924 ',
 ' 6,815 ']

In [21]:
df_clean = df.iloc[indexes]
df_clean

     지역명                     규모구분    연도   월 분양가격(제곱미터)
0     서울                     모든면적  2015  10       5841
1     서울            전용면적 60제곱미터이하  2015  10       5652
2     서울   전용면적 60제곱미터초과 85제곱미터이하  2015  10       5882
3     서울  전용면적 85제곱미터초과 102제곱미터이하  2015  10       5721
4     서울           전용면적 102제곱미터초과  2015  10       5879
...   ..                      ...   ...  ..        ...
6030  제주                     모든면적  2021   8       8356
6031  제주            전용면적 60제곱미터이하  2021   8        NaN
6032  제주   전용면적 60제곱미터초과 85제곱미터이하  2021   8       8410
6033  제주  전용면적 85제곱미터초과 102제곱미터이하  2021   8        NaN
6034  제주           전용면적 102제곱미터초과  2021   8       7727

[6019 rows x 5 columns]

In [24]:
# 2021년도의 지역별 분양가 평균
df_clean.groupby('지역명')['분양가격(제곱미터)'].mean()

TypeError: can only concatenate str (not "int") to str

In [25]:
# 2015 ~ 2021년 사이 지역별 분양가 변화를 line chart로 그리시오

In [26]:
df_clean[df_clean['지역명'] == '서울'].groupby('연도')['평당분양가'].mean().plot()

KeyError: 'Column not found: 평당분양가'

In [27]:
# 각 년도에 월별 분양가 box chart로 그리시오

In [ ]:
df_clean[df_clean.연도 == 2021].groupby('월')['평당분양가'].mean().plot(kind = 'box')