In [1]:
# data.go.kr

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 한글 encoding

# utf8
# euckr
# cp949

In [4]:
df = pd.read_csv('../pandas/data/주택도시보증공사_전국 신규 민간아파트 분양가격 동향_20211031 (1).csv', encoding = 'euckr')
df

     지역명                     규모구분    연도   월 분양가격(제곱미터)
0     서울                     모든면적  2015  10       5841
1     서울            전용면적 60제곱미터이하  2015  10       5652
2     서울   전용면적 60제곱미터초과 85제곱미터이하  2015  10       5882
3     서울  전용면적 85제곱미터초과 102제곱미터이하  2015  10       5721
4     서울           전용면적 102제곱미터초과  2015  10       5879
...   ..                      ...   ...  ..        ...
6200  제주                     모든면적  2021  10     6,860
6201  제주            전용면적 60제곱미터이하  2021  10         -
6202  제주   전용면적 60제곱미터초과 85제곱미터이하  2021  10     6,787
6203  제주  전용면적 85제곱미터초과 102제곱미터이하  2021  10     5,924
6204  제주           전용면적 102제곱미터초과  2021  10     6,815

[6205 rows x 5 columns]