In [1]:
import pandas as pd
import MySQLdb

In [9]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)

In [4]:
db = MySQLdb.connect(host = 'localhost', user = 'root', password = '1234')
cursor = db.cursor()

In [6]:
sql = 'show databases;'
pd.read_sql(sql, db)

             Database
0  information_schema
1           employees
2               mysql
3  performance_schema
4            practice
5              sakila
6               sqldb
7                 sys
8               world

In [7]:
sql = 'create database if not exists budongsan;'
cursor.execute(sql)

1

In [15]:
sql = """
use budongsan
"""
cursor.execute(sql)

0

In [18]:
sql = """
create table if not exists provider(
provider_id int primary key,
name varchar(30));
"""
cursor.execute(sql)

0

In [19]:
sql = """
insert into provider values(1, '우리부동산');
insert into provider values(2, '한마음부동산');
"""

cursor.execute(sql)

1

In [21]:
sql = """
select * from provider;
"""

cursor.execute(sql)
cursor.fetchall()

((1, '우리부동산'), (2, '한마음부동산'))

In [24]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)
budongsan.head(2)

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0

In [28]:
sql = """
create table agency(
    product_id float primary key,
    phone char(13),
    address char(20),
    agency_nm varchar(50),
    deposit float,
    rent float
);
"""

cursor.execute(sql)

0

In [37]:
for i in range(len(budongsan)):
    p_id = budongsan.iloc[i][0]
    pho = budongsan.iloc[i][1]
    add = budongsan.iloc[i][2]
    an = budongsan.iloc[i][3]
    de = budongsan.iloc[i][4]
    re = budongsan.iloc[i][5]
    
    sql = "insert ignore into agency values ('{}', '{}', '{}', '{}', '{}', '{}')"
    sql = sql.format(p_id, pho, add, an, de, re)
    cursor.execute(sql)

In [38]:
sql = 'select * from agency'

pd.read_sql(sql, db)

,product_id,phone,address,agency_nm,deposit,rent
0,3103380.0,010-123-4567,서울시 강남구 역삼동 17,TODAY공인중개사(이인규),5000.0,50.0
1,3150500.0,010-123-4567,서울시 강남구 역삼동 1,TODAY공인중개사(이인규),11000.0,60.0
2,3181680.0,010-123-4567,서울시 강남구 역삼동 20,TODAY공인중개사(이인규),5000.0,60.0
3,3190410.0,010-123-4567,서울시 강남구 역삼동 28,건우공인중개사(김상모),70.0,70.0
4,3228630.0,010-123-4567,서울시 강남구 역삼동 10,HS강남공인중개사(김현수),1000.0,96.0
5,3249400.0,010-123-4567,서울시 강남구 역삼동 12,도원공인중개사(손석진),65.0,65.0
6,3262170.0,010-123-4567,서울시 강남구 역삼동 9,스타공인중개사(박정직),2000.0,50.0
7,3303060.0,010-123-4567,서울시 강남구 역삼동 8,동하공인중개사(임성우),1000.0,60.0
8,3309370.0,010-123-4567,서울시 강남구 역삼동 21,한백부동산공인중개사(김남조),75.0,75.0
9,3317230.0,010-123-4567,서울시 강남구 역삼동 15,커피한잔공인중개사(손별),500.0,67.0
10,3322860.0,010-123-4567,서울시 강남구 역삼동 7,한강공인중개사(김상헌),1000.0,80.0
11,3330750.0,010-123-4567,서울시 강남구 역삼동 38,미래공인중개사(김유철),1000.0,85.0
12,3330950.0,010-123-4567,서울시 강남구 역삼동 13,강남우리공인중개사(어정화),2000.0,150.0
13,3331510.0,010-123-4567,서울시 강남구 역삼동 4,한백부동산공인중개사(김남조),110.0,110.0
14,3332380.0,010-123-4567,서울시 강남구 역삼동 34,한백부동산공인중개사(김남조),10000.0,100.0
15,3345440.0,010-123-4567,서울시 강남구 역삼동 33,대청공인중개사(이선영),14000.0,70.0
16,3346510.0,010-123-4567,서울시 강남구 역삼동 23,도원공인중개사(손석진),65.0,65.0
17,3350050.0,010-123-4567,서울시 강남구 역삼동 29,NB공인중개사(길주현),1000.0,70.0
18,3373200.0,010-123-4567,서울시 강남구 역삼동 5,강남코리아공인중개사(기숙영),15000.0,70.0
19,3376430.0,010-123-4567,서울시 강남구 역삼동 6,열린공인중개사(강광수),1000.0,85.0
20,3376830.0,010-123-4567,서울시 강남구 역삼동 3,미래공인중개사(김유철),3000.0,95.0
21,3405680.0,010-123-4567,서울시 강남구 역삼동 16,강남코리아공인중개사(기숙영),15000.0,60.0
22,3406670.0,010-123-4567,서울시 강남구 역삼동 24,TODAY공인중개사(이인규),1000.0,60.0
23,3418620.0,010-123-4567,서울시 강남구 역삼동 18,나무공인중개사(조민영),90.0,90.0
24,3435420.0,010-123-4567,서울시 강남구 역삼동 41,친절한공인중개사(김천호),500.0,65.0
25,3438750.0,010-123-4567,서울시 강남구 역삼동 37,TODAY공인중개사(이인규),3000.0,100.0
26,3440910.0,010-123-4567,서울시 강남구 역삼동 2,열린공인중개사(강광수),5000.0,65.0
27,3446620.0,010-123-4567,서울시 강남구 역삼동 31,도원공인중개사(손석진),68.0,68.0
28,3446920.0,010-123-4567,서울시 강남구 역삼동 39,한백부동산공인중개사(김남조),75.0,75.0
29,3450800.0,010-123-4567,서울시 강남구 역삼동 35,스타공인중개사(박정직),6000.0,50.0
30,3451080.0,010-123-4567,서울시 강남구 역삼동 32,스타공인중개사(박정직),4000.0,40.0
31,3456810.0,010-123-4567,서울시 강남구 역삼동 19,한강공인중개사(김상헌),300.0,80.0
32,3467200.0,010-123-4567,서울시 강남구 역삼동 0,TODAY공인중개사(이인규),1000.0,100.0
33,3471050.0,010-123-4567,서울시 강남구 역삼동 36,정성공인중개사(정문식),100.0,100.0
34,3484620.0,010-123-4567,서울시 강남구 역삼동 27,웰컴공인중개사(이영진),1000.0,120.0
35,3493250.0,010-123-4567,서울시 강남구 역삼동 25,아셈타운공인중개사(임현옥),7000.0,100.0
36,3494060.0,010-123-4567,서울시 강남구 역삼동 14,청록공인중개사(하순자),3000.0,60.0
37,3495450.0,010-123-4567,서울시 강남구 역삼동 30,부동산네트워크공인중개사(황창문),8000.0,55.0
38,3501550.0,010-123-4567,서울시 강남구 역삼동 42,강남코리아공인중개사(기숙영),3000.0,75.0
39,3501550.0,010-123-4567,서울시 강남구 역삼동 40,강남코리아공인중개사(기숙영),1000.0,63.0
40,3501570.0,010-123-4567,서울시 강남구 역삼동 22,강남코리아공인중개사(기숙영),1000.0,65.0
41,3501610.0,010-123-4567,서울시 강남구 역삼동 26,강남코리아공인중개사(기숙영),2000.0,63.0
42,3505010.0,010-123-4567,서울시 강남구 역삼동 11,H공인중개사(김용만),15000.0,70.0